/******************SMALL ICONS********************/
.icon-embed     { background-image: url(Tango/16x16/apps/utilities-terminal.png) }
.icon-edit      { background-image: url(Tango/16x16/apps/text-editor.png) }
.icon-undo      { background-image: url(Tango/16x16/actions/edit-undo.png) }
.icon-home      { background-image: url(Tango/16x16/actions/go-home.png)          }
.icon-home-not  { background-image: url(mod/16x16/actions/go-home-not.png)          }
.icon-new,
.icon-suggest   { background-image: url(Tango/16x16/actions/filenew.png) }
.icon-close     { background-image: url(Tango/16x16/actions/gtk-cancel.png) }
.icon-newfolder { background-image: url(Tango/16x16/actions/folder-new.png) }
.icon-folder    { background-image: url(Tango/16x16/places/folder.png) }
.icon-parent-folder { background-image: url(Tango/16x16/places/folder_home.png) }
.icon-newblog   { background-image: url(mod/16x16/apps/text-editor.png) }
.icon-blog      { background-image: url(mod/16x16/apps/text-editor.png) }
/*.icon-open    { background-image: url(folder-open.gif) } UNUSED*/
/*.icon-cms     { background-image: url(abiword_48.png) } UNUSED*/
.icon-save      { background-image: url(Tango/16x16/actions/filesave.png) }
.icon-send      { background-image: url(Tango/16x16/actions/stock_mail-forward.png) }
.icon-cancel    { background-image: url(Tango/16x16/actions/gtk-cancel.png) }
.icon-person    { background-image: url(Tango/16x16/apps/system-config-users.png) }
.icon-product   { background-image: url(Tango/16x16/mimetypes/package.png) }
.icon-delete    { background-image: url(Tango/16x16/places/user-trash.png) }
/*.icon-find    { background-image: url(noosfero-find.png) } UNUSED*/
.icon-back      { background-image: url(Tango/16x16/actions/back.png) }
.icon-next      { background-image: url(Tango/16x16/actions/go-next.png) }
.icon-add       { background-image: url(Tango/16x16/actions/add.png) }
.icon-remove    { background-image: url(Tango/16x16/actions/gtk-remove.png) }
.icon-more      { background-image: url(Tango/16x16/actions/add.png) }
.icon-up        { background-image: url(Tango/16x16/actions/go-up.png) }
.icon-down      { background-image: url(Tango/16x16/actions/go-down.png) }
.icon-left      { background-image: url(Tango/16x16/actions/go-previous.png) }
.icon-right     { background-image: url(Tango/16x16/actions/go-next.png) }
.icon-up-disabled    { background-image: url(Tango/16x16/actions/go-up.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-down-disabled  { background-image: url(Tango/16x16/actions/go-down.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-left-disabled  { background-image: url(Tango/16x16/actions/go-previous.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-right-disabled { background-image: url(Tango/16x16/actions/go-next.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-up-red    { background-image: url(mod/16x16/actions/go-up-red.png) }
.icon-forward   { background-image: url(Tango/16x16/actions/go-next.png) }
.icon-search    { background-image: url(Tango/16x16/actions/search.png) }
.icon-ok        { background-image: url(Tango/16x16/actions/media-playback-start.png) }
.icon-login     { background-image: url(mod/16x16/actions/log-in.png) }
.icon-help      { background-image: url(Tango/16x16/apps/gnome-help.png) }
.icon-firefox   { background-image: url(firefox-24x24.gif) }
.icon-help32on  { background-image: url(Tango/32x32/apps/gnome-help.png) }
.icon-help32off { background-image: url(mod/32x32/apps/gnome-help-red.png) }
.icon-spread    { background-image: url(mod/16x16/actions/spread.png) }
.icon-todo            { background-image: url(Tango/16x16/actions/stock_paste.png) }
.icon-eyes            { background-image: url(Tango/16x16/actions/find.png) }
/*.icon-menu-         { background-image: url(menu-without-ico-HC.gif) }*/
.icon-menu-home       { background-image: url(Tango/16x16/actions/go-home.png) }
/*.icon-menu-blog     { background-image: url(blog-HC.gif) } UNUSED*/
/*.icon-menu-album    { background-image: url(album-HC.gif) } UNUSED*/
.icon-menu-product    { background-image: url(Tango/16x16/mimetypes/package.png) }
.icon-menu-enterprise { background-image: url(Tango/16x16/actions/go-home.png) }
.icon-menu-community  { background-image: url(Tango/16x16/apps/system-config-users.png) }
/*.icon-menu-edit     { background-image: url(edit-HC.gif) } UNUSED */
.icon-menu-ctrl-panel { background-image: url(Tango/16x16/categories/preferences-desktop.png) }
.icon-menu-admin      { background-image: url(Tango/16x16/categories/preferences-system.png) }
.icon-menu-my-groups  { background-image: url(Tango/16x16/apps/system-config-users.png) }
.icon-menu-login      { background-image: url(mod/16x16/actions/log-in.png) }
.icon-menu-logout     { background-image: url(mod/16x16/actions/log-out.png) }
.icon-menu-search     { background-image: url(Tango/16x16/actions/search.png) }
/*.icon-menu-ed-design { background-image: url(edit-design-HC.gif) } UNUSED */
.icon-menu-events     { background-image: url(Tango/16x16/mimetypes/stock_calendar.png) }
.icon-event           { background-image: url(Tango/16x16/mimetypes/stock_calendar.png) }
.icon-newevent        { background-image: url(Tango/16x16/mimetypes/stock_calendar.png) }
.icon-menu-articles   { background-image: url(Tango/16x16/apps/text-editor.png) }
/*.icon-menu-comments { background-image: url(blog-HC.gif) } UNUSED */
.icon-menu-people     { background-image: url(mod/16x16/apps/user.png) }
.icon-menu-mail       { background-image: url(Tango/16x16/apps/email.png) }
.icon-upload-file     { background-image: url(Tango/16x16/actions/filesave.png) }
.icon-newupload-file  { background-image: url(Tango/16x16/actions/filesave.png) }
.icon-slideshow       { background-image: url(Tango/16x16/mimetypes/x-office-presentation.png) }
.icon-photos          { background-image: url(Tango/16x16/devices/camera-photo.png) }
.icon-vertical-toggle { background-image: url(Tango/16x16/actions/mail-send-receive.png) }

.icon-text-html       { background-image: url(Tango/16x16/mimetypes/text-html.png) }
.icon-text-plain      { background-image: url(Tango/16x16/mimetypes/text-x-generic.png) }
.icon-image-svg-xml   { background-image: url(Tango/16x16/mimetypes/image-x-generic.png) }
.icon-application-octet-stream { background-image: url(Tango/16x16/mimetypes/binary.png) }
.icon-application-x-gzip       { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-x-gzip.png) }
.icon-application-postscript   { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-postscript.png) }
.icon-application-pdf          { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-pdf.png) }
.icon-application-ogg          { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-ogg.png) }
.icon-video, .icon-video-mpeg  { background-image: url(Tango/16x16/mimetypes/video-x-generic.png) }
.icon-application-vnd-oasis-opendocument-text         { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-vnd.oasis.opendocument.text.png) }
.icon-application-vnd-oasis-opendocument-spreadsheet  { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-vnd.oasis.opendocument.spreadsheet.png) }
.icon-application-vnd-oasis-opendocument-presentation { background-image: url(Tango/16x16/mimetypes/gnome-mime-application-vnd.oasis.opendocument.presentation.png) }
.icon-welcome-page   { background-image: url(mod/16x16/mimetypes/welcome-page.png) }
.icon-blocks         { background-image: url(mod/16x16/mimetypes/blocks.png) }
.icon-header-footer  { background-image: url(mod/16x16/mimetypes/header-footer.png) }
.icon-appearance     { background-image: url(Tango/16x16/apps/preferences-desktop-wallpaper.png) }

.icon-media-pause  { background-image: url(Tango/16x16/actions/media-playback-pause.png) }
.icon-media-play   { background-image: url(Tango/16x16/actions/media-playback-start.png) }
.icon-media-prev   { background-image: url(Tango/16x16/actions/media-skip-backward.png) }
.icon-media-next   { background-image: url(Tango/16x16/actions/media-skip-forward.png) }
.icon-lock	       { background-image: url(Tango/16x16/actions/lock.png) }
.icon-chat         { background-image: url(Tango/16x16/apps/internet-group-chat.png); background-repeat: no-repeat }
.icon-big-chat     { background-image: url(mod/64x64/apps/internet-group-chat.png); background-repeat: no-repeat }
.icon-reply        { background-image: url(Tango/16x16/actions/mail-reply-sender.png) }
.icon-newforum     { background-image: url(Tango/16x16/apps/internet-group-chat.png) }
.icon-forum        { background-image: url(Tango/16x16/apps/system-users.png) }
.icon-gallery      { background-image: url(Tango/16x16/mimetypes/image-x-generic.png) }
.icon-newgallery   { background-image: url(Tango/16x16/mimetypes/image-x-generic.png) }
.icon-locale       { background-image: url(Tango/16x16/apps/preferences-desktop-locale.png) }
.icon-user-removed { background-image: url(Tango/16x16/actions/gtk-cancel.png) }
.icon-user-unknown { background-image: url(Tango/16x16/status/dialog-error.png) }
.icon-alert        { background-image: url(Tango/16x16/status/dialog-warning.png) }
.icon-clone        { background-image: url(Tango/16x16/actions/edit-copy.png) }

.icon-activate-user           { background-image: url(Tango/16x16/emblems/emblem-system.png) }
.icon-deactivate-user         { background-image: url(Tango/16x16/emblems/emblem-unreadable.png) }
.icon-set-admin-role          { background-image: url(mod/16x16/apps/user.png) }
.icon-reset-admin-role        { background-image: url(../../../images/icons-app/person-icon.png) }
.icon-clock                   { background-image: url(Tango/16x16/actions/appointment.png) }
.icon-fullscreen              { background-image: url(Tango/16x16/actions/view-fullscreen.png) }

/******************BIG ICONS************************/
.bigicon-embed     { background-image: url(Tango/scalable/apps/utilities-terminal.svg) }
.bigicon-edit      { background-image: url(Tango/scalable/apps/text-editor.svg) }
.bigicon-undo      { background-image: url(Tango/scalable/actions/edit-undo.svg) }
.bigicon-home      { background-image: url(Tango/scalable/actions/go-home.svg) }
.bigicon-home-not  { background-image: url(mod/scalable/actions/go-home-not.svg) }
.bigicon-new,
.bigicon-suggest   { background-image: url(Tango/scalable/actions/filenew.svg) }
.bigicon-close     { background-image: url(Tango/scalable/actions/gtk-cancel.svg) }
.bigicon-newfolder { background-image: url(Tango/scalable/actions/folder-new.svg) }
.bigicon-folder    { background-image: url(Tango/scalable/places/folder.svg) }
.bigicon-parent-folder { background-image: url(Tango/scalable/places/folder_home.svg) }
.bigicon-newblog   { background-image: url(mod/scalable/apps/text-editor.svg) }
.bigicon-blog      { background-image: url(mod/scalable/apps/text-editor.svg) }
.bigicon-save      { background-image: url(Tango/scalable/actions/filesave.svg) }
.bigicon-send      { background-image: url(Tango/scalable/actions/stock_mail-forward.svg) }
.bigicon-cancel    { background-image: url(Tango/scalable/actions/gtk-cancel.svg) }
.bigicon-person    { background-image: url(Tango/scalable/apps/system-config-users.svg) }
.bigicon-product   { background-image: url(Tango/scalable/mimetypes/package.svg) }
.bigicon-delete    { background-image: url(Tango/scalable/places/user-trash.svg) }
.bigicon-back      { background-image: url(Tango/scalable/actions/back.svg) }
.bigicon-next      { background-image: url(Tango/scalable/actions/go-next.svg) }
.bigicon-add       { background-image: url(Tango/scalable/actions/add.svg) }
.bigicon-remove    { background-image: url(Tango/scalable/actions/gtk-remove.svg) }
.bigicon-more      { background-image: url(Tango/scalable/actions/add.svg) }
.bigicon-up        { background-image: url(Tango/scalable/actions/go-up.svg) }
.bigicon-down      { background-image: url(Tango/scalable/actions/go-down.svg) }
.bigicon-left      { background-image: url(Tango/scalable/actions/go-previous.svg) }
.bigicon-right     { background-image: url(Tango/scalable/actions/go-next.svg) }
.bigicon-up-disabled    { background-image: url(Tango/scalable/actions/go-up.svg); opacity: 0.25; filter:alpha(opacity=25); }
.bigicon-down-disabled  { background-image: url(Tango/scalable/actions/go-down.svg); opacity: 0.25; filter:alpha(opacity=25); }
.bigicon-left-disabled  { background-image: url(Tango/scalable/actions/go-previous.svg); opacity: 0.25; filter:alpha(opacity=25); }
.bigicon-right-disabled { background-image: url(Tango/scalable/actions/go-next.svg); opacity: 0.25; filter:alpha(opacity=25); }
.bigicon-up-red    { background-image: url(mod/scalable/actions/go-up-red.svg) }
.bigicon-forward   { background-image: url(Tango/scalable/actions/go-next.svg) }
.bigicon-search    { background-image: url(Tango/scalable/actions/search.svg) }
.bigicon-ok        { background-image: url(Tango/scalable/actions/media-playback-start.svg) }
.bigicon-login     { background-image: url(mod/scalable/actions/log-in.svg) }
.bigicon-help      { background-image: url(Tango/scalable/apps/gnome-help.svg) }
.bigicon-help32on  { background-image: url(Tango/scalable/apps/gnome-help.svg) }
.bigicon-help32off { background-image: url(mod/scalable/apps/gnome-help-red.svg) }
.bigicon-spread    { background-image: url(mod/scalable/actions/spread.svg) }
.bigicon-todo            { background-image: url(Tango/scalable/actions/stock_paste.svg) }
.bigicon-eyes            { background-image: url(Tango/scalable/actions/find.svg) }
.bigicon-menu-home       { background-image: url(Tango/scalable/actions/go-home.svg) }
.bigicon-menu-product    { background-image: url(Tango/scalable/mimetypes/package.svg) }
.bigicon-menu-enterprise { background-image: url(Tango/scalable/actions/go-home.svg) }
.bigicon-menu-community  { background-image: url(Tango/scalable/apps/system-config-users.svg) }
.bigicon-menu-ctrl-panel { background-image: url(Tango/scalable/categories/preferences-desktop.svg) }
.bigicon-menu-admin      { background-image: url(Tango/scalable/categories/preferences-system.svg) }
.bigicon-menu-my-groups  { background-image: url(Tango/scalable/apps/system-config-users.svg) }
.bigicon-menu-login      { background-image: url(mod/scalable/actions/log-in.svg) }
.bigicon-menu-logout     { background-image: url(mod/scalable/actions/log-out.svg) }
.bigicon-menu-search     { background-image: url(Tango/scalable/actions/search.svg) }
.bigicon-menu-events     { background-image: url(Tango/scalable/mimetypes/stock_calendar.svg) }
.bigicon-event           { background-image: url(Tango/scalable/mimetypes/stock_calendar.svg) }
.bigicon-newevent        { background-image: url(Tango/scalable/mimetypes/stock_calendar.svg) }
.bigicon-menu-articles   { background-image: url(Tango/scalable/apps/text-editor.svg) }
.bigicon-menu-people     { background-image: url(mod/scalable/apps/user.svg) }
.bigicon-menu-mail       { background-image: url(Tango/scalable/apps/email.svg) }
.bigicon-upload-file     { background-image: url(Tango/scalable/actions/filesave.svg) }
.bigicon-newupload-file  { background-image: url(Tango/scalable/actions/filesave.svg) }
.bigicon-slideshow       { background-image: url(Tango/scalable/mimetypes/x-office-presentation.svg) }
.bigicon-photos          { background-image: url(Tango/scalable/devices/camera-photo.svg) }
.bigicon-vertical-toggle { background-image: url(Tango/scalable/actions/mail-send-receive.svg) }
.bigicon-text-html       { background-image: url(Tango/scalable/mimetypes/text-html.svg) }
.bigicon-text-plain      { background-image: url(Tango/scalable/mimetypes/text-x-generic.svg) }
.bigicon-image-svg-xml   { background-image: url(Tango/scalable/mimetypes/image-x-generic.svg) }
.bigicon-application-octet-stream { background-image: url(Tango/scalable/mimetypes/binary.svg) }
.bigicon-application-x-gzip       { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-x-gzip.svg) }
.bigicon-application-postscript   { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-postscript.svg) }
.bigicon-application-pdf          { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-pdf.svg) }
.bigicon-application-ogg          { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-ogg.svg) }
.bigicon-video, .icon-video-mpeg  { background-image: url(Tango/scalable/mimetypes/video-x-generic.svg) }
.bigicon-application-vnd-oasis-opendocument-text         { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-vnd.oasis.opendocument.text.svg) }
.bigicon-application-vnd-oasis-opendocument-spreadsheet  { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-vnd.oasis.opendocument.spreadsheet.svg) }
.bigicon-application-vnd-oasis-opendocument-presentation { background-image: url(Tango/scalable/mimetypes/gnome-mime-application-vnd.oasis.opendocument.presentation.svg) }
.bigicon-welcome-page   { background-image: url(mod/scalable/mimetypes/welcome-page.svg) }
.bigicon-blocks         { background-image: url(mod/scalable/mimetypes/blocks.svg) }
.bigicon-header-footer  { background-image: url(mod/scalable/mimetypes/header-footer.svg) }
.bigicon-appearance     { background-image: url(Tango/scalable/apps/preferences-desktop-wallpaper.svg) }
.bigicon-media-pause  { background-image: url(Tango/scalable/actions/media-playback-pause.svg) }
.bigicon-media-play   { background-image: url(Tango/scalable/actions/media-playback-start.svg) }
.bigicon-media-prev   { background-image: url(Tango/scalable/actions/media-skip-backward.svg) }
.bigicon-media-next   { background-image: url(Tango/scalable/actions/media-skip-forward.svg) }
.bigicon-lock         { background-image: url(Tango/scalable/actions/lock.svg) }
.bigicon-chat         { background-image: url(Tango/scalable/apps/internet-group-chat.svg); background-repeat: no-repeat }
.bigicon-reply        { background-image: url(Tango/scalable/actions/mail-reply-sender.svg) }
.bigicon-newforum     { background-image: url(Tango/scalable/apps/internet-group-chat.svg) }
.bigicon-forum        { background-image: url(Tango/scalable/apps/system-users.svg) }
.bigicon-gallery      { background-image: url(Tango/scalable/mimetypes/image-x-generic.svg) }
.bigicon-newgallery   { background-image: url(Tango/scalable/mimetypes/image-x-generic.svg) }
.bigicon-locale       { background-image: url(Tango/scalable/apps/preferences-desktop-locale.svg) }
.bigicon-user-removed { background-image: url(Tango/scalable/actions/gtk-cancel.svg) }
.bigicon-user-unknown { background-image: url(Tango/scalable/status/dialog-error.svg) }
.bigicon-alert        { background-image: url(Tango/scalable/status/dialog-warning.svg) }
.bigicon-clone        { background-image: url(Tango/scalable/actions/edit-copy.svg) }
.bigicon-activate-user           { background-image: url(Tango/scalable/emblems/emblem-system.svg) }
.bigicon-deactivate-user         { background-image: url(Tango/scalable/emblems/emblem-unreadable.svg) }
.bigicon-clock                   { background-image: url(Tango/scalable/actions/appointment.svg) }

/******************LARGE ICONS********************/
.image-gallery-item .folder  { background-image: url(mod/96x96/places/folder.png) }
.image-gallery-item .gallery { background-image: url(mod/96x96/mimetypes/image-x-generic.png) }
